label.item.has-error {
  border-left: 3px solid red;
  padding-left: 14px;
}

label.item.has-error .input-label {
  color: red !important;
}

.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.input-label {
  font-size: 12px !important;
}

.item-input .input-label.has-input {
  color: rgba(0,0,0,0.54);
}

.item-input .input-label.input-focused {
  color: rgb(63,81,181) !important;
}

.item-input.input-focused {
  border-left: 3px solid rgb(63,81,181) !important;
  padding-left: 14px;
}

.bar .button.modal-button {
  padding: 5px 5px 2px 5px;
  font-size: 15px !important;
  line-height: 15px !important;
  font-weight: 400;
}

.bar .button .modal-icon:before {
  font-size: 22px !important;
  line-height: 22px !important;
}

.dark-list {
  background-color: rgb(66,66,66) !important;
  margin-bottom: 0 !important;
}

.dark-list .item-input .input-label.has-input{
  color: rgba(255,255,255,0.7) !important;
}

.dark-list .item-input .input-label {
  color: rgba(255,255,255,0.7) !important;
}

.dark-list .item-input .input-label.input-focused{
  color: rgb(3,169,244) !important;
}

.dark-list .item-input.input-focused {
  border-left: 3px solid rgb(3,169,244) !important;
  padding-left: 14px !important;
}

.dark-list .item-input input{
  background-color: transparent;
  color: white;
}

.dark-list .item {
  border-color: rgba(180,180,180,0.24) !important;
  background-color: transparent !important;
}

.dark-list .item-select select {
  background-color: transparent !important;
  color: white !important;
}

.list .item {
  word-wrap: break-word !important;
  text-overflow: clip;
  left: 1px;
  border-left: 0;
}

.textarea {
  height: 15vh;
}

.slide-box {
  height: calc(100vh - 43px);
  overflow: hidden;
}

.click-map {
  display: block;
  width: 100%;
  height: 25vh;
}

.slider {
  height: 100%;
}

input[disabled] {
  background-color: transparent;
  opacity: 0.4;
}

.toggle-label {
  font-size: 12px;
}

.item-toggle .toggle {
  top: 15px;
}

.toggle .track {
  width: 41px;
  height: 21px;
}

.toggle .handle {
  width: 17px;
  height: 17px;
}

label.item.disabled .input-label {
  opacity: 0.2 !important;
}
