label.item.has-error {
  border-left: 3px solid red;
  padding-left: 14px;
}

label.item.has-error .input-label {
  color: red !important;
}

.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.input-label {
  font-size: 12px !important;
}

.item-floating-label .input-label.has-input {
  color: rgba(0,0,0,0.54);
}

.item-stacked-label .input-label.input-focused {
  // opacity: 1;
  // top: 0;
  color: rgb(63,81,181) !important;
  // -webkit-transition: opacity 0.15s ease-in-out, top 0.2s linear  !important;
  // transition: opacity 0.15s ease-in-out, top 0.2s linear  !important;
}

.item-stacked-label.input-focused {
  border-left: 3px solid rgb(63,81,181) !important;
  padding-left: 14px;
}

.bar .button.modal-button {
  padding: 5px 5px 2px 5px;
  font-size: 15px !important;
  line-height: 15px !important;
  font-weight: 400;
}

.bar .button .modal-icon:before {
  font-size: 22px !important;
  line-height: 22px !important;
}
