.alert-session {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  opacity: .8;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.map-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  z-index: 5;
}

.alert-session.to-front {
  z-index: 5;
}

.light-font {
  font-weight: 300 !important;
  font-size: 16px !important;
}

.blink {
  -webkit-animation: blink 3s ease-in-out infinite;
  -moz-animation: blink 3s ease-in-out infinite;
  animation: blink 3s ease-in-out infinite;
}

.pseudo-ion-content {
  position: absolute;
  left: 0px;
  top: 43px;
  z-index: 10;
  width: 100%;
  height: 100%;
}
